 <body>
 <div>
   <h1>Bank Details</h1>
    <form class="search-bank" [formGroup]="myControl">
      <mat-form-field appearance="fill" >
        <mat-label>Select By Bank Name</mat-label>
        <mat-select formControlName="bankName" (selectionChange)="resultDetails(bankDetails,myControl.get('bankName')?.value,myControl.get('cityName')?.value,myControl.get('district')?.value)">
          <mat-option *ngFor="let option of uniqueBankNames" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </mat-form-field>

        <mat-form-field appearance="fill" >
          <mat-label>Select By City</mat-label>
          <mat-select formControlName="cityName" (selectionChange)="resultDetails(bankDetails,myControl.get('bankName')?.value,myControl.get('cityName')?.value,myControl.get('district')?.value)">
            <mat-option *ngFor="let option of uniqueCityNames" [value]="option">
              {{option}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select By District</mat-label>
          <mat-select formControlName="district" (selectionChange)="resultDetails(bankDetails,myControl.get('bankName')?.value,myControl.get('cityName')?.value,myControl.get('district')?.value)" >
            <mat-option *ngFor="let choice of uniqueDistrictNames" [value]="choice">
              {{choice}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button (click)="onSubmit()">Clear</button>
      </form>

            <div *ngIf="(myControl.get('bankName')?.value || myControl.get('cityName')?.value || myControl.get('district')?.value)">
              <table mat-table [dataSource]="bankDetailsResult  | paginate: { itemsPerPage:9, currentPage:page,totalItems:totalLengthSelected }  " class="mat-elevation-z8">
                 <div>
                    <ng-container matColumnDef="ifsc">
                    <th mat-header-cell *matHeaderCellDef>ifsc </th>
                    <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="bank_id">
                    <th mat-header-cell *matHeaderCellDef> bank_id </th>
                    <td mat-cell *matCellDef="let element"> {{element.bank_id}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="branch">
                    <th mat-header-cell *matHeaderCellDef> branch </th>
                    <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
                    </ng-container>
                
                    <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef> address </th>
                    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef> city </th>
                        <td mat-cell *matCellDef="let element"> {{element.city}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="district">
                        <th mat-header-cell *matHeaderCellDef> district </th>
                        <td mat-cell *matCellDef="let element"> {{element.district}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="state">
                        <th mat-header-cell *matHeaderCellDef> state </th>
                        <td mat-cell *matCellDef="let element"> {{element.state}} </td>
                    </ng-container>
        
                    <ng-container matColumnDef="bank_name">
                        <th mat-header-cell *matHeaderCellDef> bank_name </th>
                        <td mat-cell *matCellDef="let element"> {{element.bank_name}} </td>
                    </ng-container>
                  </div>
                  <div class="mat-header">
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </div>
              </table>
              <pagination-controls class="pagination my-pagination" (pageChange)="page = $event"></pagination-controls>
              </div>
             
        
        <!-- ------------------------------------------------------------------ -->

        <div *ngIf ="!(myControl.get('bankName')?.value || myControl.get('cityName')?.value || myControl.get('district')?.value)">
        <table mat-table [dataSource]="bankDetails  | paginate: { itemsPerPage:9, currentPage:page,totalItems:totalLength }" class="mat-elevation-z8">
          <div>
            <ng-container matColumnDef="ifsc">
            <th mat-header-cell *matHeaderCellDef>ifsc </th>
            <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
            </ng-container>
        
            <ng-container matColumnDef="bank_id">
            <th mat-header-cell *matHeaderCellDef> bank_id </th>
            <td mat-cell *matCellDef="let element"> {{element.bank_id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="branch">
            <th mat-header-cell *matHeaderCellDef> branch </th>
            <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
            </ng-container>
        
            <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
            </ng-container>

            <ng-container matColumnDef="city">
                <th mat-header-cell *matHeaderCellDef> city </th>
                <td mat-cell *matCellDef="let element"> {{element.city}} </td>
            </ng-container>

            <ng-container matColumnDef="district">
                <th mat-header-cell *matHeaderCellDef> district </th>
                <td mat-cell *matCellDef="let element"> {{element.district}} </td>
            </ng-container>

            <ng-container matColumnDef="state">
                <th mat-header-cell *matHeaderCellDef> state </th>
                <td mat-cell *matCellDef="let element"> {{element.state}} </td>
            </ng-container>

            <ng-container matColumnDef="bank_name">
                <th mat-header-cell *matHeaderCellDef> bank_name </th>
                <td mat-cell *matCellDef="let element"> {{element.bank_name}} </td>
            </ng-container>
          </div>
          <div class="mat-header">
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </div>
        </table>
        <pagination-controls class="pagination my-pagination" (pageChange)="page = $event"></pagination-controls>
        </div>
        
        <!-- <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator> -->
        <!-- <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
        </mat-paginator> -->
    </div>
  </body>

  